@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .background {
    @apply bg-hover-1 dark:bg-secondary-inverted fixed top-0 right-0 bottom-0 w-[300px] min-h-screen z-30 drop-shadow-xl;
  }

  .big-heading {
    margin: 0;
    font-size: clamp(40px, 8vw, 60px);
  }

  .vertical-r {
    writing-mode: vertical-rl;
  }

  .img-shadow {
    filter: drop-shadow(-4px 12px 24px rgb(0, 0, 0, 0.2));
  }

}

@layer utilities {
  .scrollbar::-webkit-scrollbar {
    width: 13px;
    height: 13px;
  }

  .scrollbar::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: #fff;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: #a6a7ab;
    border-radius: 100vh;
    border: 3px solid #fff;
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    background: #a6a7ab;
  }

  .scrollbar-dark::-webkit-scrollbar {
    width: 13px;
    height: 13px;
  }

  .scrollbar-dark::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: #23262f;
  }

  .scrollbar-dark::-webkit-scrollbar-thumb {
    background: #3c3a50;
    border-radius: 100vh;
    border: 3px solid #23262f;
  }

  .scrollbar-dark::-webkit-scrollbar-thumb:hover {
    background: #3c3a50;
  }
}
